{{votecount}}
<form>
  <div class="form-group row">
      <div class="col-auto">
        <input class="form-control" id="answer" 
          aria-describedby="answer" placeholder="Enter answer" 
          name="answer"
          [disabled]="disabled"
          [(ngModel)]="answer">
        <small *ngIf="disabled">Answer sent!</small>
      </div>
      <div class="col-auto">
        <button class="btn btn-primary" (click)="onSend()" [disabled]="disabled">Send Answer!</button>
      </div>
  </div>    
</form>

